## Data Gathering through API

In [1]:
import pandas as pd
import requests

### Getting the API KEY

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=05112875e11e9a401f212de984fe206b&langage=en-US&page=1')

### Taking the required columns for the model

In [3]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [4]:
df.head()

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,166.113,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",181.091,8.689
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,98.193,8.600
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,81.671,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,59.776,8.500

In [5]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,166.113,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",181.091,8.689
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,98.193,8.600
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,81.671,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,59.776,8.500
5,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",112.869,8.538
6,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",43.648,8.523
7,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,163.774,8.517
8,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,99.586,8.507
9,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",108.504,8.500
10,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",97.095,8.500
11,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,82.301,8.500
12,122,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,162.456,8.483
13,823219,Flow,2024-08-29,"A solitary cat, displaced by a great flood, fi...",320.320,8.474
14,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,109.210,8.470
15,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,77.467,8.500
16,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,44.410,8.463
17,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.042,8.456
18,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",74.633,8.500
19,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",36.314,8.450

### Get a data from page 5

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=05112875e11e9a401f212de984fe206b&langage=en-US&page=5')

In [7]:
df1 = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [8]:
df1

,id,title,release_date,overview,popularity,vote_average
0,29259,Le Trou,1960-03-18,Four prison inmates have been hatching a plan ...,14.242,8.300
1,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,23.581,8.300
2,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",73.396,8.259
3,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,18.016,8.300
4,632632,Given,2020-08-22,"The relationship between a band's bassist, the...",18.865,8.300
5,8587,The Lion King,1994-06-24,Young lion prince Simba flees when his father ...,202.245,8.256
6,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,35.943,8.254
7,1160164,TAYLOR SWIFT | THE ERAS TOUR,2023-10-13,The cultural phenomenon continues on the big s...,45.811,8.300
8,447362,Life in a Year,2020-11-27,A 17 year old finds out that his girlfriend is...,38.011,8.300
9,527641,Five Feet Apart,2019-03-14,Seventeen-year-old Stella spends most of her t...,77.042,8.246
10,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,119.747,8.246
11,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,83.548,8.244
12,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,"In the aftermath of the Fourth Impact, strande...",29.114,8.200
13,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,204.719,8.242
14,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",74.344,8.241
15,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",22.655,8.240
16,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,22.265,8.240
17,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,18.320,8.236
18,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,31.014,8.232
19,441130,Wolfwalkers,2020-10-26,"In a time of superstition and magic, when wolv...",29.642,8.228

In [9]:
df1.shape

(20, 6)

In [10]:
df1.to_csv('movies.csv')

In [11]:
df1

,id,title,release_date,overview,popularity,vote_average
0,29259,Le Trou,1960-03-18,Four prison inmates have been hatching a plan ...,14.242,8.300
1,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,23.581,8.300
2,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",73.396,8.259
3,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,18.016,8.300
4,632632,Given,2020-08-22,"The relationship between a band's bassist, the...",18.865,8.300
5,8587,The Lion King,1994-06-24,Young lion prince Simba flees when his father ...,202.245,8.256
6,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,35.943,8.254
7,1160164,TAYLOR SWIFT | THE ERAS TOUR,2023-10-13,The cultural phenomenon continues on the big s...,45.811,8.300
8,447362,Life in a Year,2020-11-27,A 17 year old finds out that his girlfriend is...,38.011,8.300
9,527641,Five Feet Apart,2019-03-14,Seventeen-year-old Stella spends most of her t...,77.042,8.246
10,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,119.747,8.246
11,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,83.548,8.244
12,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,"In the aftermath of the Fourth Impact, strande...",29.114,8.200
13,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,204.719,8.242
14,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",74.344,8.241
15,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",22.655,8.240
16,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,22.265,8.240
17,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,18.320,8.236
18,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,31.014,8.232
19,441130,Wolfwalkers,2020-10-26,"In a time of superstition and magic, when wolv...",29.642,8.228

In [12]:
df.to_csv('movies_Page1.csv')

In [13]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,166.113,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",181.091,8.689
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,98.193,8.600
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,81.671,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,59.776,8.500
5,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",112.869,8.538
6,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",43.648,8.523
7,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,163.774,8.517
8,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,99.586,8.507
9,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",108.504,8.500
10,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",97.095,8.500
11,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,82.301,8.500
12,122,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,162.456,8.483
13,823219,Flow,2024-08-29,"A solitary cat, displaced by a great flood, fi...",320.320,8.474
14,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,109.210,8.470
15,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,77.467,8.500
16,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,44.410,8.463
17,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.042,8.456
18,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",74.633,8.500
19,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",36.314,8.450